@import 'variables.scss';

// footer styles
.footer {
    padding: 20px 0 10px;
    background: $footer_bg;
    background: $grey;
    // background: $lightgrey;

    &__logo {
        font-size: 25px;
        font-weight: 700;
        text-align: left;
        color: $white;

        @media screen and (max-width: $Medium-l) {
            font-size: 18px;
        };
    }

    &__copyright {
        font-size: 12px;
        padding: 20px 0 10px;
        text-align: center;
        color: $white;
    }
}