// footer styles
// @import 'variables.scss';

.footer {
    padding: 50px 0 10px;
    background: $footer_bg;

    &__title {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
        color: $white;
    }

    &__text {
        text-align: center;
        margin-bottom: 30px;
        color: $white;

        @media screen and (max-width: $Medium) {
            margin-bottom: 60px;
        };

        @media screen and (max-width: $Small-l) {
            font-size: 14px;
        };
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;
        margin: 0 30px;
        border-bottom: 1px solid $grey;

        @media screen and (max-width: $Medium) {
            flex-direction: column;
            max-width: 569px;
            margin: 0 auto;
        };

        @media screen and (max-width: $Small) {
            margin: 0;
        };
    }

    &__item { 
        width: 50%;

        &:first-child {
            width: 30%;

            @media screen and (max-width: $Medium) {
                width: 50%;
                width: 100%;
                margin-bottom: 50px;
            };

            @media screen and (max-width: $Small-l) {
                width: 100%;
            };
        }

        &:last-child {
             width: 50%;

             @media screen and (max-width: $Medium) {
                width: 100%;
            };

             @media screen and (max-width: $Small-l) {
                width: 100%;
            };
        };
    };

    &__item-title {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
        color: $lightgrey;

        @media screen and (max-width: $Medium) {
            text-align: center;
        };
    }

    &__item-text {
        margin-bottom: 30px;
        color: $white;

        @media screen and (max-width: $Medium) {
            text-align: center;
        };

        @media screen and (max-width: $Small-l) {
            font-size: 14px;
        };
    }

    &__social.social {
        justify-content: flex-start;

        @media screen and (max-width: $Large-s) {
            // justify-content: space-between;
        };

        @media screen and (max-width: $Medium) {
            justify-content: center;
        };

        .social__link {
            @media screen and (max-width: $Large-s) {
                // margin: 0;
            };
        }

        .social__link:first-child {
            margin-left: 0;
        }
    }

    &__form {
        &-input,&-textarea {
            display: block;
            width: 100%;
            background: transparent;
            border: 1px solid $lightgrey;
            box-shadow: 0 0 3px solid green;
            padding-left: 10px;
            margin-bottom: 10px;
            color: $white;
            // outline: none;

            &::placeholder {
                color: $lightgrey;
            }

            &:focus {
                // color: $white;
                // background: $lightgrey;
                outline: none;

            }
        }

        &-button {
            display: block;
            padding: 5px 20px;
            margin: 0 0 0 auto;
            background: $yellow;
            border: 1px solid $lightgrey;
            color: $footer_bg;
        }
    }

    &__copyright {
        padding: 20px 0 10px;
        text-align: center;
    }
}