@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'slider.scss';

// common styles
body {
    font-family: 'lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $grey;
    // height: 5000px;

    &.is-lock {
        overflow: hidden;
    }
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
// hero styles
.hero {
    padding: 15% 0 18%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(../img/hero/hero_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 992px) {
        background-position: 60% 0%;
    };

    @media screen and (max-width: $Small-l) {
        padding: 100px 10px;
        padding: 20% 0 10%;
    };

    @media screen and (max-width: $Small-l) and (orientation: landscape) {
        padding: 15% 0 10%;
    };

    &__title {
        text-align: center;
        margin-bottom: 50px;
        font-size: 30px;
        // font-size: 1.875em;
        color: $white;

        @media screen and (max-width: $Medium) {
            font-size: 20px;
            margin-bottom: 30px;
        };

        @media screen and (max-width: $Small-l) {
            font-size: 18px;
            margin-bottom: 25px;
        };

        span {
            display: block;
        }

        span:last-child {
            color: $yellow;
        };
    }

    &__text {
        text-align: center;
        max-width: 600px;
        margin: 0 auto 40px;
        color: $lightgrey;

        @media screen and (max-width: $Medium) {
            max-width: 400px;
        };

        @media screen and (max-width: $Small-l) {
            font-size: 14px;
            margin-bottom: 20px;
            padding: 0 20px;
        };
    }
}

.social {
        display: flex;
        justify-content: center;
        align-items: center;
    

    &__link {
        margin: 0 20px;
        padding: 7px;
        border: 0.5px solid white;

        @media screen and (max-width: $Small-l) {
            margin: 0 10px;
        };
    }

    &__svg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        fill: $white;

        &:last-child {
            width: 25px;
            height: 25px;
        }
    }
}

// about me styles
.about {
    padding: 50px 0;

    @media screen and (max-width: $Small-l) {
        padding: 30px 0;
    };

    &__title {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;

        @media screen and (max-width: $Medium) {
            font-size: 18px;
        };
    }

    &__text {
        text-align: center;
        margin-bottom: 40px;

        @media screen and (max-width: $Small-l) {
            font-size: 14px;
        };
    }

    &__items {
        display: flex;
        align-items: center;

        @media screen and (max-width: 992px) {
            flex-direction: column;
        };
    }

    &__item {
        width: 50%;

        @media screen and (max-width: 992px) {
            width: 100%;
        };

        &:last-child {
            padding: 20px 20px 0px 40px;

            @media screen and (max-width: $Small-l) {
                padding: 20px 10px 0px 10px;
            };
        }
    }

    &__item-title {
        margin-bottom: 20px;
        text-align: center;

        @media screen and (max-width: $Medium) {
            font-size: 18px;
        };
    }

    &__item-text {
        margin-bottom: 20px;

        @media screen and (max-width: $Small-l) {
            font-size: 14px;
        };
    }

    &__list-item {
        margin-bottom: 10px;
    }
}
// skills styles

.skills {
    padding: 50px 0;
    background-color: #d3d3d3;
    background-color: $grey;
    background: #2d2d2d;
    background-color: #adadad;
    background: #F9F9F9;

    @media screen and (max-width: $Small-l) {
        padding: 30px 0;
    };

    &__title {
        text-align: center;
        font-family: 'lato';
        font-size: 30px;
        font-weight: 600;
        color: $white;
        color:$grey;
        // margin-bottom: 20px;

        @media screen and (max-width: $Medium) {
            font-size: 18px;
        };
    }

    &__text {
        text-align: center;
        margin-bottom: 60px;
        color: $white;
        color: $grey;

        @media screen and (max-width: $Small-l) {
            margin-bottom: 30px;
            font-size: 14px;
        };
    }
}
// projects styles

.projects {
    padding: 50px 0;
    height: 500px;
    // background-color: green;

    @media screen and (max-width: $Small-l) {
        padding: 30px 0;
    };

    &__title {
        text-align: center;
        margin-bottom: 20px;

        @media screen and (max-width: $Medium) {
            font-size: 18px;
        };
    }

    &__text {
        text-align: center;

        @media screen and (max-width: $Small-l) {
            margin-bottom: 30px;
            font-size: 14px;
        };
    }
}

