// color
$white: #ffffff;
$grey: #777777;
$yellow: #FEB11E;
$black: #000000;
$lightgrey: #B1B1B1;
$header_bg: #F9F9F9;
$footer_bg: #2d2d2d;
$darkgrey: #292929;
$lightgrey_bg: #fafafa;

// media queries

$Large-l: 1600px;
$Large: 1366px;
$Large-s: 1200px;
$Medium-l: 1024px;
$Medium: 900px;
$Medium-s: 768px;
$Small-l: 600px;
$Small: 480px;
$Small-s: 414px;
$Small-xs: 360px;
